.breadcrumbs {
  .list;
  display: flex;
  width: 100%;
  .trim;

  &__item {
    height: 2rem;
    padding: 0 0.25rem;
    line-height: 2rem;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }

    &-link {
      color: @blueberry;
      cursor: pointer;
    }
  }
}
