.pages {
  width: @pageWidth;
  margin: 0 auto;
  .padding-bottom-large;
}

.common-page {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.other-content {
  flex-grow: 1;
  overflow-y: auto;
  .scroll;

  &__container {
    width: @pageWidth;
    .centred;
    .padding-top;
  }

  &__title {
    margin-bottom: @gap;
    font-weight: bold;
  }
}
